.backBtnContainer {
    position: absolute;
    top: 10vh;
    left: -1.4vh;
}

.infoContainer {
    margin-top: 10vh;
}

.shotBtnContainer {
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.moveStickContainer {
    position: fixed;
    left: 5%;
    bottom: 5%;
}