.gameEndOuter {
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    justify-content: center;
    vertical-align: center;
}

.gameEndInner {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    top: 5%;
    bottom: 5%;
}

.backBtnContainerGE {
    position: absolute;
    top: 4vh;
    left: -1.4vh;
}

.gameEndBtn {
    border: solid #fff0;
    background-color: #d24bfd;
    width: 50vh;
    height: 20vh;
    margin-top: 10vh;
    position: relative;
    border-radius: 10vh;
}

.gameEndBtn:active {
    outline: solid 1.4vh #ffe7ff;
    color: #ffe7ff;
    outline-offset: -1px;
}

.resultOutput {
    font-size: 10vh;
    background-color: #573d6d;
    margin-top: calc(34vh - 1px);
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    margin-bottom: 0;
}