.moveStickOuter {
    width: 25vw;
    height: 25vw;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;

    outline: 2vw solid #ad9ad2;
    outline-offset: -2vw;
}

.moveStickInner {
    width: 14vw;
    height: 14vw;
}

.stick {
    position: relative;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    background-color: #8a64d3;
}

.activeStick {
    background-color: #b48bff;
}