.starterScreenOuter {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #3c214e;
}

.TeamSelectionContainer {
    display: flex;
    justify-content: center;
}

.mainContentContainer {
    margin-top: 14vh;
}

.errorScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.teamSelectionBtn {
    width: 50vh;
    height: 50vh;
    padding-bottom: 10%;
    padding-top: 10%;
    color: #ffffff;
    border-radius: 10vh;
    border: solid 2px #fff0;
}

.teamBlueBtn {
    margin-left: 2vh;
    background-color: #352dff;
}

.teamBlueBtn:active {
    outline: 1.4vh solid #2fe7ff;
    outline-offset: -1px;
    color: #2fe7ff;
}

.teamRedBtn {
    background-color: #ff2342;
}

.teamRedBtn:active {
    outline: 1.4vh solid #ffde38;
    outline-offset: -1px;
    color: #ffde38;
}