.textNotification {
    width: 50vw;
    margin: 0 auto;
    font-size: 6vw;
    margin-top: 10vh;
}

.rotateImage {
    width: 40vw;
    margin: 0 auto;
    margin-bottom: 10vh;
}

.rotateDivOuter {
    position: relative;
    left: 0;
    right: 0;
}