.rangDivOuter {
    min-width: 10vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.rangInfo {
    display: inline-block;
    padding-right: 5px;
}

.rangImg {
    width: 4vh;
    height: 4vh;
}