.shotBtn {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    background-color: #ad9ad2;
    border: solid #fff0;
    background-image: url(../../../assets/shotIcon.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.shotBtn:active {
    outline: solid 5px #dccbff;
    outline-offset: -1px;
    background-image: url(../../../assets/shotIcon-active.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}